colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
easydict==1.10
fonttools==4.39.3
imageio==2.27.0
importlib-resources==5.12.0
imutils==0.5.4
kiwisolver==1.4.4
lazy_loader==0.2
matplotlib==3.7.1
natsort==8.3.1
networkx==3.0
numpy==1.23.5
opencv-python==4.7.0.72
packaging==23.0
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0
scikit-image==0.20.0
scipy==1.9.1
six==1.16.0
tifffile==2023.3.21
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tqdm==4.65.0
typing_extensions==4.5.0
zipp==3.15.0
